{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Acerca de mi
{% endblock titulo %}

{% block cabecera %}
  
{% endblock cabecera %}

{% block contenido %}
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">¿Quien soy?</span>
                    </h2>
                    <p class="mb-0">Me llamo Andrea Di Martino, tengo 33 años. Soy de Las Flores, provincia de Buenos Aires. Inicié este curso por una necesidad laboral de actualización en lo que respecta a manejo de datos, y me terminé encontrando con una grata sorpresa. Para uds. quizá será un página sencilla pero para mi es un gran logro. La idea de la página es transmitir mi amor por el planeta, la conciencia social, la sostenibilidad y el cuidado de los animales y el medioambiente. Espero les guste!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}